jaxws-maven-plugin/src/test/wsdl/sky-connect.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.SkyConnect.aero/XmlService1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.SkyConnect.aero/XmlService1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">

  <wsdl:types>

    <s:schema elementFormDefault="qualified" targetNamespace="http://www.SkyConnect.aero/XmlService1">

      <s:element name="XmlResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />

          </s:sequence>

        </s:complexType>



      </s:element>

      <s:element name="XmlResponseResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="0" maxOccurs="1" name="XmlResponseResult">

              <s:complexType mixed="true">

                <s:sequence>

                  <s:any />

                </s:sequence>



              </s:complexType>

            </s:element>

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="LookupMtRequest">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />



            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />

            <s:element minOccurs="0" maxOccurs="1" name="imeiNumber" type="s:string" />

            <s:element minOccurs="1" maxOccurs="1" name="mtmsn" type="s:int" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="LookupMtRequestResponse">

        <s:complexType>

          <s:sequence>



            <s:element minOccurs="0" maxOccurs="1" name="LookupMtRequestResult" type="s:string" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="TableUpdate">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />

            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />



            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="TableUpdateResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="0" maxOccurs="1" name="TableUpdateResult">

              <s:complexType>



                <s:sequence>

                  <s:element ref="s:schema" />

                  <s:any />

                </s:sequence>

              </s:complexType>

            </s:element>

          </s:sequence>

        </s:complexType>

      </s:element>



      <s:element name="DeliveryNotification">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />

            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />

            <s:element minOccurs="0" maxOccurs="1" name="newDeliveries">

              <s:complexType>

                <s:sequence>

                  <s:element ref="s:schema" />



                  <s:any />

                </s:sequence>

              </s:complexType>

            </s:element>

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="DeliveryNotificationResponse">

        <s:complexType>



          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="DeliveryNotificationResult" type="s:boolean" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="AcceptUplinkMessageCopies">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />



            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />

            <s:element minOccurs="0" maxOccurs="1" name="uplinkMessages">

              <s:complexType>

                <s:sequence>

                  <s:element ref="s:schema" />

                  <s:any />

                </s:sequence>

              </s:complexType>

            </s:element>



          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="AcceptUplinkMessageCopiesResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="AcceptUplinkMessageCopiesResult" type="s:boolean" />

          </s:sequence>

        </s:complexType>



      </s:element>

      <s:element name="IsAlive">

        <s:complexType />

      </s:element>

      <s:element name="IsAliveResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="IsAliveResult" type="s:boolean" />

          </s:sequence>



        </s:complexType>

      </s:element>

      <s:element name="string" nillable="true" type="s:string" />

      <s:element name="DataSet" nillable="true">

        <s:complexType>

          <s:sequence>

            <s:element ref="s:schema" />

            <s:any />

          </s:sequence>



        </s:complexType>

      </s:element>

      <s:element name="boolean" type="s:boolean" />

    </s:schema>

  </wsdl:types>

  <wsdl:message name="XmlResponseSoapIn">

    <wsdl:part name="parameters" element="tns:XmlResponse" />

  </wsdl:message>

  <wsdl:message name="XmlResponseSoapOut">



    <wsdl:part name="parameters" element="tns:XmlResponseResponse" />

  </wsdl:message>

  <wsdl:message name="LookupMtRequestSoapIn">

    <wsdl:part name="parameters" element="tns:LookupMtRequest" />

  </wsdl:message>

  <wsdl:message name="LookupMtRequestSoapOut">

    <wsdl:part name="parameters" element="tns:LookupMtRequestResponse" />

  </wsdl:message>

  <wsdl:message name="TableUpdateSoapIn">



    <wsdl:part name="parameters" element="tns:TableUpdate" />

  </wsdl:message>

  <wsdl:message name="TableUpdateSoapOut">

    <wsdl:part name="parameters" element="tns:TableUpdateResponse" />

  </wsdl:message>

  <wsdl:message name="DeliveryNotificationSoapIn">

    <wsdl:part name="parameters" element="tns:DeliveryNotification" />

  </wsdl:message>

  <wsdl:message name="DeliveryNotificationSoapOut">



    <wsdl:part name="parameters" element="tns:DeliveryNotificationResponse" />

  </wsdl:message>

  <wsdl:message name="AcceptUplinkMessageCopiesSoapIn">

    <wsdl:part name="parameters" element="tns:AcceptUplinkMessageCopies" />

  </wsdl:message>

  <wsdl:message name="AcceptUplinkMessageCopiesSoapOut">

    <wsdl:part name="parameters" element="tns:AcceptUplinkMessageCopiesResponse" />

  </wsdl:message>

  <wsdl:message name="IsAliveSoapIn">



    <wsdl:part name="parameters" element="tns:IsAlive" />

  </wsdl:message>

  <wsdl:message name="IsAliveSoapOut">

    <wsdl:part name="parameters" element="tns:IsAliveResponse" />

  </wsdl:message>

  <wsdl:message name="XmlResponseHttpGetIn">

    <wsdl:part name="request" type="s:string" />

  </wsdl:message>

  <wsdl:message name="XmlResponseHttpGetOut">



    <wsdl:part name="Body" element="tns:string" />

  </wsdl:message>

  <wsdl:message name="LookupMtRequestHttpGetIn">

    <wsdl:part name="userName" type="s:string" />

    <wsdl:part name="password" type="s:string" />

    <wsdl:part name="imeiNumber" type="s:string" />

    <wsdl:part name="mtmsn" type="s:string" />

  </wsdl:message>

  <wsdl:message name="LookupMtRequestHttpGetOut">



    <wsdl:part name="Body" element="tns:string" />

  </wsdl:message>

  <wsdl:message name="TableUpdateHttpGetIn">

    <wsdl:part name="userName" type="s:string" />

    <wsdl:part name="password" type="s:string" />

    <wsdl:part name="request" type="s:string" />

  </wsdl:message>

  <wsdl:message name="TableUpdateHttpGetOut">

    <wsdl:part name="Body" element="tns:DataSet" />



  </wsdl:message>

  <wsdl:message name="IsAliveHttpGetIn" />

  <wsdl:message name="IsAliveHttpGetOut">

    <wsdl:part name="Body" element="tns:boolean" />

  </wsdl:message>

  <wsdl:message name="XmlResponseHttpPostIn">

    <wsdl:part name="request" type="s:string" />

  </wsdl:message>

  <wsdl:message name="XmlResponseHttpPostOut">



    <wsdl:part name="Body" element="tns:string"/>

  </wsdl:message>

  <wsdl:message name="LookupMtRequestHttpPostIn">

    <wsdl:part name="userName" type="s:string" />

    <wsdl:part name="password" type="s:string" />

    <wsdl:part name="imeiNumber" type="s:string" />

    <wsdl:part name="mtmsn" type="s:string" />

  </wsdl:message>

  <wsdl:message name="LookupMtRequestHttpPostOut">



    <wsdl:part name="Body" element="tns:string" />

  </wsdl:message>

  <wsdl:message name="TableUpdateHttpPostIn">

    <wsdl:part name="userName" type="s:string" />

    <wsdl:part name="password" type="s:string" />

    <wsdl:part name="request" type="s:string" />

  </wsdl:message>

  <wsdl:message name="TableUpdateHttpPostOut">

    <wsdl:part name="Body" element="tns:DataSet" />



  </wsdl:message>

  <wsdl:message name="IsAliveHttpPostIn" />

  <wsdl:message name="IsAliveHttpPostOut">

    <wsdl:part name="Body" element="tns:boolean" />

  </wsdl:message>

  <wsdl:portType name="Service1Soap">

    <wsdl:operation name="XmlResponse">

      <wsdl:input message="tns:XmlResponseSoapIn" />

      <wsdl:output message="tns:XmlResponseSoapOut" />



    </wsdl:operation>

    <wsdl:operation name="LookupMtRequest">

      <wsdl:input message="tns:LookupMtRequestSoapIn" />

      <wsdl:output message="tns:LookupMtRequestSoapOut" />

    </wsdl:operation>

    <wsdl:operation name="TableUpdate">

      <wsdl:input message="tns:TableUpdateSoapIn" />

      <wsdl:output message="tns:TableUpdateSoapOut" />

    </wsdl:operation>



    <wsdl:operation name="DeliveryNotification">

      <wsdl:input message="tns:DeliveryNotificationSoapIn" />

      <wsdl:output message="tns:DeliveryNotificationSoapOut" />

    </wsdl:operation>

    <wsdl:operation name="AcceptUplinkMessageCopies">

      <wsdl:input message="tns:AcceptUplinkMessageCopiesSoapIn" />

      <wsdl:output message="tns:AcceptUplinkMessageCopiesSoapOut" />

    </wsdl:operation>

    <wsdl:operation name="IsAlive">



      <wsdl:input message="tns:IsAliveSoapIn" />

      <wsdl:output message="tns:IsAliveSoapOut" />

    </wsdl:operation>

  </wsdl:portType>

  <wsdl:portType name="Service1HttpGet">

    <wsdl:operation name="XmlResponse">

      <wsdl:input message="tns:XmlResponseHttpGetIn" />

      <wsdl:output message="tns:XmlResponseHttpGetOut" />

    </wsdl:operation>



    <wsdl:operation name="LookupMtRequest">

      <wsdl:input message="tns:LookupMtRequestHttpGetIn" />

      <wsdl:output message="tns:LookupMtRequestHttpGetOut" />

    </wsdl:operation>

    <wsdl:operation name="TableUpdate">

      <wsdl:input message="tns:TableUpdateHttpGetIn" />

      <wsdl:output message="tns:TableUpdateHttpGetOut" />

    </wsdl:operation>

    <wsdl:operation name="IsAlive">



      <wsdl:input message="tns:IsAliveHttpGetIn" />

      <wsdl:output message="tns:IsAliveHttpGetOut" />

    </wsdl:operation>

  </wsdl:portType>

  <wsdl:portType name="Service1HttpPost">

    <wsdl:operation name="XmlResponse">

      <wsdl:input message="tns:XmlResponseHttpPostIn" />

      <wsdl:output message="tns:XmlResponseHttpPostOut" />

    </wsdl:operation>



    <wsdl:operation name="LookupMtRequest">

      <wsdl:input message="tns:LookupMtRequestHttpPostIn" />

      <wsdl:output message="tns:LookupMtRequestHttpPostOut" />

    </wsdl:operation>

    <wsdl:operation name="TableUpdate">

      <wsdl:input message="tns:TableUpdateHttpPostIn" />

      <wsdl:output message="tns:TableUpdateHttpPostOut" />

    </wsdl:operation>

    <wsdl:operation name="IsAlive">



      <wsdl:input message="tns:IsAliveHttpPostIn" />

      <wsdl:output message="tns:IsAliveHttpPostOut" />

    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">

    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="XmlResponse">

      <soap:operation soapAction="http://www.SkyConnect.aero/XmlService1/XmlResponse" style="document" />

      <wsdl:input>



        <soap:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap:body use="literal" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="LookupMtRequest">

      <soap:operation soapAction="http://www.SkyConnect.aero/XmlService1/LookupMtRequest" style="document" />

      <wsdl:input>



        <soap:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap:body use="literal" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="TableUpdate">

      <soap:operation soapAction="http://www.SkyConnect.aero/XmlService1/TableUpdate" style="document" />

      <wsdl:input>



        <soap:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap:body use="literal" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="DeliveryNotification">

      <soap:operation soapAction="http://www.SkyConnect.aero/XmlService1/DeliveryNotification" style="document" />

      <wsdl:input>



        <soap:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap:body use="literal" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="AcceptUplinkMessageCopies">

      <soap:operation soapAction="http://www.SkyConnect.aero/XmlService1/AcceptUplinkMessageCopies" style="document" />

      <wsdl:input>



        <soap:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap:body use="literal" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="IsAlive">

      <soap:operation soapAction="http://www.SkyConnect.aero/XmlService1/IsAlive" style="document" />

      <wsdl:input>



        <soap:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap:body use="literal" />

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">

    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />



    <wsdl:operation name="XmlResponse">

      <soap12:operation soapAction="http://www.SkyConnect.aero/XmlService1/XmlResponse" style="document" />

      <wsdl:input>

        <soap12:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal" />

      </wsdl:output>

    </wsdl:operation>



    <wsdl:operation name="LookupMtRequest">

      <soap12:operation soapAction="http://www.SkyConnect.aero/XmlService1/LookupMtRequest" style="document" />

      <wsdl:input>

        <soap12:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal" />

      </wsdl:output>

    </wsdl:operation>



    <wsdl:operation name="TableUpdate">

      <soap12:operation soapAction="http://www.SkyConnect.aero/XmlService1/TableUpdate" style="document" />

      <wsdl:input>

        <soap12:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal" />

      </wsdl:output>

    </wsdl:operation>



    <wsdl:operation name="DeliveryNotification">

      <soap12:operation soapAction="http://www.SkyConnect.aero/XmlService1/DeliveryNotification" style="document" />

      <wsdl:input>

        <soap12:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal" />

      </wsdl:output>

    </wsdl:operation>



    <wsdl:operation name="AcceptUplinkMessageCopies">

      <soap12:operation soapAction="http://www.SkyConnect.aero/XmlService1/AcceptUplinkMessageCopies" style="document" />

      <wsdl:input>

        <soap12:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal" />

      </wsdl:output>

    </wsdl:operation>



    <wsdl:operation name="IsAlive">

      <soap12:operation soapAction="http://www.SkyConnect.aero/XmlService1/IsAlive" style="document" />

      <wsdl:input>

        <soap12:body use="literal" />

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal" />

      </wsdl:output>

    </wsdl:operation>



  </wsdl:binding>

  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">

    <http:binding verb="GET" />

    <wsdl:operation name="XmlResponse">

      <http:operation location="/XmlResponse" />

      <wsdl:input>

        <http:urlEncoded />

      </wsdl:input>

      <wsdl:output>



        <mime:content part="Body" type="text/xml" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="LookupMtRequest">

      <http:operation location="/LookupMtRequest" />

      <wsdl:input>

        <http:urlEncoded />

      </wsdl:input>

      <wsdl:output>



        <mime:mimeXml part="Body" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="TableUpdate">

      <http:operation location="/TableUpdate" />

      <wsdl:input>

        <http:urlEncoded />

      </wsdl:input>

      <wsdl:output>



        <mime:mimeXml part="Body" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="IsAlive">

      <http:operation location="/IsAlive" />

      <wsdl:input>

        <http:urlEncoded />

      </wsdl:input>

      <wsdl:output>



        <mime:mimeXml part="Body" />

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">

    <http:binding verb="POST" />

    <wsdl:operation name="XmlResponse">

      <http:operation location="/XmlResponse" />

      <wsdl:input>



        <mime:content type="application/x-www-form-urlencoded" />

      </wsdl:input>

      <wsdl:output>

        <mime:content part="Body" type="text/xml" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="LookupMtRequest">

      <http:operation location="/LookupMtRequest" />

      <wsdl:input>



        <mime:content type="application/x-www-form-urlencoded" />

      </wsdl:input>

      <wsdl:output>

        <mime:mimeXml part="Body" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="TableUpdate">

      <http:operation location="/TableUpdate" />

      <wsdl:input>



        <mime:content type="application/x-www-form-urlencoded" />

      </wsdl:input>

      <wsdl:output>

        <mime:mimeXml part="Body" />

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="IsAlive">

      <http:operation location="/IsAlive" />

      <wsdl:input>



        <mime:content type="application/x-www-form-urlencoded" />

      </wsdl:input>

      <wsdl:output>

        <mime:mimeXml part="Body" />

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="Service1">

    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">



      <soap:address location="https://www.integratedavionics.us/xml/service1.asmx" />

    </wsdl:port>

    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">

      <soap12:address location="https://www.integratedavionics.us/xml/service1.asmx" />

    </wsdl:port>

    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">

      <http:address location="https://www.integratedavionics.us/xml/service1.asmx" />

    </wsdl:port>

    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">



      <http:address location="https://www.integratedavionics.us/xml/service1.asmx" />

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
